name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install deps
        run: npm install

      - name: Build affected packages
        run: npx turbo run build

      - name: Package affected services
        run: npx turbo run package

      - name: Deploy product service
        run: npx turbo run deploy --filter=@services/product-service

      - name: Deploy changed services
        run: |
          for service in product-service; do
            cd infra/services/$service
            terraform init
            terraform apply -auto-approve
            cd -
          done
